{% extends 'base.html.twig' %}

{% block title %}Nos Voitures{% endblock %}

{% block contentcss %}
	<link href="{{ asset('assets/stylesheets/voiturestyle.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
	{% include 'navbar.html.twig' %}

<div class="container filters-container">
    <form id="voiture-form" action="add-voitures.php">
		<div class="form-row">
            <div class="form-group col-md-12">
                <label for="addimage">Image</label>
                <input type="text" class="form-control" id="addimage" name="image" placeholder="Entrer le nom et l'extension de l'image (Ex: image.jpg)" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="addmarque">Marque</label>
                <input type="text" class="form-control" id="addmarque" name="marque" placeholder="Entrer Marque" required>
            </div>
            <div class="form-group col-md-6">
                <label for="addmodele">Modele</label>
                <input type="text" class="form-control" id="addmodele" name="modele" placeholder="Entrer Modele" required>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="addprix">Prix</label>
                <input type="text" class="form-control" id="addprix" name="prix" placeholder="Entrer Prix" required>
            </div>
            <div class="form-group col-md-6">
                <label for="addannee">Année</label>
                <input type="text" class="form-control" id="addannee" name="annee" placeholder="Entrer Année" required>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="addkilometrage">Kilometrage</label>
                <input type="text" class="form-control" id="addkilometrage" name="kilometrage" placeholder="Enter Kilometrage" required>
            </div>
            <div class="form-group col-md-6">
                <label for="addcouleur">Couleur</label>
                <input type="text" class="form-control" id="addcouleur" name="couleur" placeholder="Enter Couleur" required>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

	<div class="container mt-3">
		<div class="row marque-modele">
			<div class="col-3">
				<input type="text" id="searchMarqueInput" placeholder="Marque...">
			</div>
			<div class="col-3">
				<input type="text" id="searchModeleInput" placeholder="Modèle...">
			</div>
		</div>
		<div class="row">
			<div class="col-3 prixbar">
				<input type="text" id="searchPrixMinInput" placeholder="Prix Min...">
			</div>
			<div class="col-1"></div>
			<div class="col-3 annekmbar">
				<input type="text" id="searchAnneeInput" placeholder="Année Fabrication Min...">
			</div>
			<div class="col-1"></div>

			<div class="col-3 annekmbar">
				<input type="text" id="searchKmInput" placeholder="Km Max...">
			</div>
		</div>
		<div class="row">
			<div class="col-3">
				<input type="text" id="searchPrixMaxInput" placeholder="Prix Max...">
			</div>
		</div>
		<div class="row">
			<div class="col"></div>
			<div class="col-2">
				<button id="clearFiltersButton" class="btn btn-primary">Clear Filters</button>
			</div>
			<div class="col"></div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			{% for row in voitures %}
				<div class="col-4 voitures_card">
					<div class="card">
						<img class="card-img-top" src="{{ asset('assets/images/' ~ row.image) }}" alt={{ row.image }}>
						<div class="card-body">
							<h5 class="card-title">
								<span class="marque">{{ row.marque }}</span>
								-
								<span class="modele">{{ row.modele }}</span>
							</h5>
							<p class="card-text">Année:
								<span class="annee">{{ row.annee }}</span>
							</p>
							<p class="card-text">Kilométrage:
								<span class="km">{{ row.kilometrage }}</span>
							</p>
							<p class="card-text">Couleur:
								<span class="couleur">{{ row.couleur }}</span>
							</p>
						</div>
						<div class="card-footer text-center">
							<small class="">
								<h3 class="prix">{{ row.prix }}
									€</h3>
							</small>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}

{% block contentjs %}
	<script src="{{ asset('assets/javascript/voitures.js') }}"></script>
	<script src="{{ asset('assets/javascript/voitures-add.js') }}"></script>
{% endblock %}