{% extends 'base.html.twig' %}

{% block contentcss %}
	<link href="{{ asset('assets/stylesheets/voiturestyle.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
	{% include 'navbar.html.twig' %}

	<div class="container filters-container">
		<div class="row marque-modele">
			<div class="col-3">
				<input type="text" id="searchMarqueInput" placeholder="Marque...">
			</div>
			<div class="col-3">
				<input type="text" id="searchModeleInput" placeholder="Modèle...">
			</div>
		</div>
		<div class="row">
			<div class="col-3 prixbar">
				<input type="text" id="searchPrixMinInput" placeholder="Prix Min...">
			</div>
			<div class="col-1"></div>
			<div class="col-3 annekmbar">
				<input type="text" id="searchAnneeInput" placeholder="Année Fabrication Min...">
			</div>
<div class="col-1"></div>

			<div class="col-3 annekmbar">
				<input type="text" id="searchKmInput" placeholder="Km Max...">
			</div>
		</div>
		<div class="row">
			<div class="col-3">
				<input type="text" id="searchPrixMaxInput" placeholder="Prix Max...">
			</div>
		</div>
		<div class="row">
			<div class="col"></div>
			<div class="col-2">
				<button id="clearFiltersButton" class="btn btn-primary">Clear Filters</button>
			</div>
			<div class="col"></div>
		</div>
	</div>


	<div class="container">
		<div class="row">
			{% for row in voitures %}
				<div class="col-4 voitures_card">
					<div class="card">
						<img class="card-img-top" src="{{ asset('assets/images/' ~ row.image) }}" alt={{ row.image }}>
						<div class="card-body">
							<h5 class="card-title">
								<span class="marque">{{ row.marque }}</span>
								-
								<span class="modele">{{ row.modele }}</span>
							</h5>
							<p class="card-text">Année:
								<span class="annee">{{ row.annee }}</span>
							</p>
							<p class="card-text">Kilométrage:
								<span class="km">{{ row.kilometrage }}</span>
							</p>
							<p class="card-text">Couleur:
								<span class="couleur">{{ row.couleur }}</span>
							</p>
						</div>
						<div class="card-footer text-center">
							<small class="">
								<h3 class="prix">{{ row.prix }}
									€</h3>
							</small>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

	{% block contentjs %}
		<script src="{{ asset('assets/javascript/voitures.js') }}"></script>
	{% endblock %}
{% endblock %}
